fieldset {
	width: 500px;
	padding: 10px;
	margin: 20px auto auto auto;
}

input {
	height: 30px;
	margin: 10px;
	position: left; 
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14pt;
	padding: 0px 10px;
	outline: none;
}

input[type=submit]{
	cursor: pointer;
}

body {
	font-family: arial;
	font-size: 10pt;
}

legend {
	font-size: 16pt;
	font-weight: bold;
}

#material {
	width: 200px;
}

#marca {
	width: 110px;
}

#medida {
	width: 330px;
}

#botao {
	font-size: 13pt;
	width: 70px;
	position: relative;
	left: 400px;
	margin: 10px 10px;
}
