fieldset {
	width: 500px;
	padding: 10px;
	margin: auto auto auto auto;
}

input [type=radio] {
	height: 45px;
	width: 45px;
}

#nome, #cpf, #email, #senha, #rsenha, #botao {
	height: 30px;
	width: 360px;
	margin: 10px;
	position: left;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14pt;
	padding: 0px 10px;
	outline: none;
}

body {
	font-family: arial;
	font-size: 10pt;
}

legend {
	font-size: 16pt;
	font-weight: bold;
}

.relative-parent {
	/*background: #156236;*/
}

.relative {
	/*background: #af8542;*/
  	width: 210px;
  	margin: auto;
  	position: relative;
  	top: 10px;
}

#legenda-end, #legenda-dados-login {
	font-size: 13pt;

}

#campo-cadastro {
	padding: 20px;
}

.form-interno {
	margin: 60px 0px;
	width: 500px;
}

#nome {
	width: 425px;
}

#cpf {
	width: 435px;
}

#botao {
	cursor: pointer;
	font-size: 13pt;
	width: 100px;
	position: relative;
	left: 415px;
	top: -40px;
	margin: 0px 10px;
}

#email{
	width: 420px;
}

#senha {
	width: 415px;
}

#rsenha {
	width: 368px;
}

#adm, #label-adm {
	position: relative;
	right: 50px;
}

#pad, #label-pad {
	position: relative;
	left: 50px;
}

#label-adm, #label-pad {
	font-size: 16px;
}

#tipo-user {
	height: 70px;
	position: relative;
	top: 20px;
}