

body {
	font-family: arial;
	font-size: 10pt;
}

/*fieldset {
	width: 300px;
	padding: 10px;
	position: relative;
	left: 680px;
	top: 0px;
}*/

.relative-parent {
	/*background: #156236;*/
	width: 300px;
	height: 177px;
	padding: 10px;
	position: relative;
	left: 680px;
	top: 0px;	
}

.relative {
	/*background: #af8542;*/
  	cursor: pointer;
  	opacity: 0.6;
  	position: relative;
  	left: 245px;
  	top: -41px;*/
  	width: 30px;
}

#senha-teste {
	height: 30px;
	width: 207px;
	margin: 10px;
	position: relative;
	/*left: 10px;*/
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14pt;
	padding: 0px 10px;
}

input {
	height: 30px;
	width: 200px;
	margin: 10px;
	position: left;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14pt;
	padding: 0px 10px;
	outline: none;
}

input[type=submit]{
	cursor: pointer;
}

div {
	padding: 0px 5px;
}

a {
	font-size: 9px;
}

img {
    max-width: 290px;
    width: auto;
}

#legenda {
	font-size: 16pt;
	font-weight: bold;
}

#botao {
	height: 25px;
	width: 70px;
	font-size: 10pt;
	text-align: center;
	padding: 0px;
	/*margin: 10px auto auto 73px;*/
	position: relative;
	top: -5px;
	left: 70px;
}

#senha {
	height: 30px;
	width: 208px;
	margin: 10px;
	position: left;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14pt;
	padding: 0px 10px;
}

#cad-forn {
	margin: auto 85px;
	text-align: center;
	position: relative;
	top: -15px;
}

#esqueceu {
	margin: auto auto auto 25px;
	position: relative;
	top: -5px;
}

#logo{
	/*margin: 150px auto auto 100px;*/
	position: relative; 
	left: 330px; /* posiciona a 90px para a esquerda */ 
	top: 190px; /* posiciona a 70px para baixo */
}
