body {
	font-family: arial;
	font-size: 10pt;
}

fieldset {
	width: 300px;
	padding: 10px;
	position: relative;
	left: 680px;
	top: 0px;
}

input {
	height: 30px;
	width: 200px;
	margin: 10px;
	position: left;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14pt;
	padding: 0px 10px;
	outline: none;
}

input[type=submit]{
	cursor: pointer;
}

div {
	padding: 0px 5px;
}

a {
	font-size: 9px;
}

img {
    max-width: 290px;
    width: auto;
}

#legenda {
	font-size: 16pt;
	font-weight: bold;
}

#botao {
	height: 25px;
	width: 70px;
	font-size: 10pt;
	text-align: center;
	padding: 0px;
	margin: 10px auto auto 73px;
}

#senha {
	height: 30px;
	width: 207px;
	margin: 10px;
	position: left;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14pt;
	padding: 0px 10px;
}

#cad-forn {
	margin: auto 85px;
	text-align: center;
}

#esqueceu {
	margin: auto auto auto 58px;
}

#logo{
	/*margin: 150px auto auto 100px;*/
	position: relative; 
	left: 330px; /* posiciona a 90px para a esquerda */ 
	top: 190px; /* posiciona a 70px para baixo */
}

.olho {
  cursor: pointer;
  position: absolute;
  opacity: 0.6;
  left: 257px;
  top: 99px;
  width: 25px;
}
